
.DS_Store
AutoRenewalSubscriptionDemo.xcworkspace/xcuserdata/eric.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
*.lock
*.pbxproj
Pods/Pods.xcodeproj/xcuserdata/eric.xcuserdatad/xcschemes/Pods-AutoRenewalSubscriptionDemo.xcscheme
*.xcscheme
Pods/*
Pods

*.xcuserstate
AutoRenewalSubscriptionDemo.xcworkspace/xcuserdata/eric.xcuserdatad/UserInterfaceState.xcuserstate
